extends ./layout.jade

block content
	h1 Arduino REST Server 
	pre= path
	if( msg )
		div.alert.alert-info
			span.glyphicon.glyphicon-info-sign
			|  #{msg}
	h2 Documentation
	p This is the REST endpoint to control my Arduino kit
	ul
		li
			a(href='distance') distance
		li
			a(href='servo') servo
		li
			a(href='flex') flex
		li
			a(href='led/11') led/:pin
		li
			a(href='photo') photo

	img(src='http://node-ardx.org/images/ARDX-cover.jpg')